* {
    box-sizing: border-box;
}

body {
    background-color: rgb(53, 13, 13);
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.box_upper {
    width: 100%;
    height: 65vh;

    font-size: 35px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 30px;
}

.box_contain {
    width: 100%;
    height: 100vh;
    background-color: #db70b7;
    border: 6px solid black;

    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: relative;
}

.ribbon {
    width: 80px;
    height: 200px;   
    background-color: #ffc100;
    border: 5px solid black;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 20px;
}

.lock {
    position: absolute;
    top: -78px;
    left: -65px;

    width: 200px;
    height: 200px;

    background-image: url(./Images/Heart_Lock.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.contain {
    width: 100%;
    height: 60vh;
    background-color: rgb(255, 122, 98);
    position: absolute;
    bottom: 0;
    left: 0;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 6px solid black;

    text-align: center;
    padding: 10px 20px;

}

.contain h2 {
    font-size: 30px;
    color: white;
}

.contain p {
    font-size: 23px;
}

.pop_up {
    width: 300px;
    height: 200px;
    border: 6px solid black;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: tomato;
    border-radius: 30px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    display: none;
}

#pass {
    width: 100%;
    font-size: 25px;
    padding: 10px;

    border-radius: 20px;
    border: 6px solid black;
}

.pass_btn {
    width: 100%;
    font-size: 25px;
    padding: 10px;
    border: 6px solid black;
    border-radius: 20px;
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;

    background-color: yellowgreen;
}

.pass_btn:hover {
    cursor: pointer;
}
